@import "tailwindcss";

.tarjeta {
  @apply rounded-xl m-4 text-gray-700 text-xs mx-4 overflow-hidden;
  /* nm-flat-white  */
  background: #ffffff;
  /* Blanco */
  border-radius: 12px;
  /* Bordes redondeados */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1),
    -5px -5px 15px rgba(255, 255, 255, 0.7);
  /* Sombra doble para efecto neumórfico */
  padding: 20px;
   /* fin nm-flat-white  */
}

.boton {
  @apply text-sm font-bold py-1 px-4 rounded-full;
}

.boton--negro {
  @apply text-white hover:bg-gray-800;
  /* nm-flat-gray-700  */
  color: #374151;
  /* Texto */
  /* o */
  background-color: #374151;
  /* Fondo */
  /* fin nm-flat-gray-700  */
}

.boton--rojo {
  @apply text-red-500 border border-red-500 hover:bg-red-500 hover:text-white;
  /* nm-flat-gray-100 */
  background-color: #f5f5f5;
  /* HEX */
  /* fin nm-flat-gray-100 */
}

.boton--gris {
  @apply hover:bg-gray-200;
  /* nm-flat-gray-100 */
  background-color: #f5f5f5;
  /* HEX */
  /* fin nm-flat-gray-100 */
}
.botones {
  @apply from-gray-700 via-gray-200 to-gray-200 px-4 py-3 flex justify-between;
  /*bg-gradient-to-r*/
      height: 100vh; /* Ocupa toda la altura de la pantalla */
    background: linear-gradient(to right, #4f46e5, #3b82f6);
    /* Puedes usar cualquier color en formato HEX, RGB o nombre */
    /*fin bg-gradient-to-r*/
}